$strict-normalize: true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$inline-block-alignment: top;

$font-base-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
$font-family-regular: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
$font-family-light: "open_sanslight", Arial, Helvetica, Garuda, sans-serif;
$font-family-bold: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;



$font-base-size: 14px;
$font-size-extra-small: 9px;
$font-size-small: 12px;
$font-size-regular-samllest: 13px;
$font-size-regular: 20px;
$font-size-big: 24px;

$font-style-italic: italic;

$weight-normal: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

 
$clrs: ( 
  white: #fff,
  white-light: #fbfbfb,
  white-dark: #f7f6f6,
  //
  pink-light: #f2e7d0,
  //
  grey: #bababa,
  grey-lighten: #f7f7f7,
  grey-light: #e5e3e2,
  grey-hover: #e4e3e3,
  gray-light-extra: #eae9e9,
  gray-menu: #727070,
  light-gray: #737373,
  grey-extra-light: #d6d5d3,
  //
  dark: #727070,
  //
  brown-light: #ddce9b,
  brown-lighten: #f4ce82,
  brown-darken: #dfb866,
  brown-dark: #e7bf6f,
  brown-darken-dark: #cfa44f,
  brown-menu: #d0982c,
  brown-extra-dark: #cfa44f,
  //
  green-hover-light: #7de8cd,
  green-hover-dark: #3fb79a,
  grey-hover-dark: #bebdbd,
  green-dark: #3da98e,
  green-light: #66dbbe,
  green-darken: #1e7465
);
