html,
body {
  min-width: 1230px;
  height: 100%;
  min-height: 100%;
  font-family: $font-base-family;
  font-size: $font-base-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  //position: relative;
  //min-width: 1230px;
  background: url("../img/bg-main.jpg") no-repeat center top;
  background-size: cover;
}


%container {
  width: 960px;
  //padding: 0 10px;
  margin: 0 auto;
}

%header {
  width: 1210px;
  padding: 0 10px;
  margin: 0 auto;
}

//%debug {
//  outline: 1px solid #f0f;
//}
