.row:after,
.row:before {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.left-col {
  float: left;
  width: 310px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @extend %debug;
}
.right-col {
  float: left;
  width: 650px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @extend %debug;
}

