.menu {
  &__list {
    margin: 0;
    //margin-right: 59px;
    margin-bottom: 34px;
    padding: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 3px 5px -1px #d5cf95;
    &-item {
      list-style-type: none;
      text-align: left;
      text-shadow: 1px 1px 2px map-get($clrs, gray-light-extra);
      border: 1px solid map-get($clrs, grey);
      //border-top: none;
      background-image: linear-gradient(to bottom, map-get($clrs, grey-lighten), map-get($clrs, grey-light));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',
            endColorstr='#e5e3e2',GradientType=0);
      overflow: hidden;
      &:first-child {
        //border-top: 1px solid map-get($clrs, grey);
        border-radius: 4px 4px 0 0;
        border-bottom: none;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
        border-top: none;
      }
      &:hover {
        border-bottom-color: map-get($clrs, grey-hover-dark);
        background-image: linear-gradient(to bottom, map-get($clrs, grey-hover), map-get($clrs, grey-hover-dark));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e3e3',
            endColorstr='#bebdbd',GradientType=0);
        box-shadow: inset 0 4px 4px #e8e7e7;
      }
      &--active {
        .menu__list-link {
          color: map-get($clrs, green-darken);
          text-shadow: 1px 1px 2px #d1cccc;
        }
        border-left-color: map-get($clrs, green-dark);
        border-right-color: map-get($clrs, green-dark);
        border-bottom: 1px solid map-get($clrs, green-dark) !important;
        border-top: 1px solid map-get($clrs, green-light) !important;
        background-image: linear-gradient(to bottom, map-get($clrs, green-hover-light), map-get($clrs, green-hover-dark));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7de8cd',
            endColorstr='#3fb79a',GradientType=0);
        box-shadow: inset 0 1px 1px #a5efdd;
        &:hover {
          background-image: linear-gradient(to bottom, map-get($clrs, green-hover-light), map-get($clrs, green-hover-dark));
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7de8cd',
            endColorstr='#3fb79a',GradientType=0);
          box-shadow: inset 0 1px 1px #a5efdd;
        }
      }
    }
    &-link {
      display: block;
      padding: 18px 0 17px 27px;
      font-size: $font-size-regular;
      color: map-get($clrs, dark);
      line-height: $font-size-regular;
      text-decoration: none;
    }
  }
}
