//=========================================================
// модальное окно
//=========================================================
.modal {
  display: none;
  width: 363px;
  padding: 27px 21px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f2f1f0;
  &__close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 13px;
    height: 13px;
    background: url("../img/spritesheet.png") no-repeat -49px -579px;
    cursor: pointer;
  }
  &--add {
    &:before {
      position: absolute;
      content: "Добавление контента";
      top: -19px;
      left: 22px;
      font-family: $font-family-light;
      font-size: $font-size-small;
      color: #f8f7f6;
    }
  }
  &--login {
    &:before {
      position: absolute;
      content: "Авторизируйтесь";
      top: -19px;
      left: 22px;
      font-family: $font-family-light;
      font-size: $font-size-small;
      color: #727070;
    }
  }
}

.myclass {
  padding: 2px 0px;
  border-color: #cb6945;
  border-top-color: #cb6945;
  font-size: 12px;
  color: #9a4e32;
  background-color: #e48e70;
  background-image: linear-gradient(to bottom, #f3a58b, #d67c5a);
  /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f3a58b', endColorstr='#d67c5a', GradientType=0);*/
  box-shadow: inset 1px 1px 0 #f7c0ad;
  & .qtip-content {
  text-shadow: 1px 1px #d4b5b5;
  }
}