// модальное окно
.modal {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  display: none;
  //position: relative;
  width: 363px;
  //margin: 0 auto;
  //margin-top: 100px;
  padding: 27px 21px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f2f1f0;
  &__close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 13px;
    height: 13px;
    background: url("../img/spritesheet.png") no-repeat -49px -579px;
    cursor: pointer;
  }
  &--add {
    &:before {
      position: absolute;
      content: "Добавление контента";
      top: -19px;
      left: 22px;
      font-family: $font-family-light;
      font-size: $font-size-small;
      color: #f8f7f6;
    }
  }
  &--success-visible {
    display: block;
    margin-left: -182px;
    margin-top: -70px;
  }
  &--add-visible {
    display: block;
    margin-left: -182px;
    margin-top: -240px;
  }
}