.works {
  margin-bottom: 35px;
  color: map-get($clrs, gray-menu);
  background: map-get($clrs, grey-work-bg);
  border-radius: 5px 5px 7px 7px;
  font-family: $font-family-bold;
  box-shadow: 0px 3px 6px -3px #d5cf95;
  &__title {
    margin: 0;
    padding: 0;
    @extend %title-block;
    padding: 15px 0 16px 40px;
    border: 1px solid;
    border-top-color: map-get($clrs, dark-lighten);
    border-bottom-color: map-get($clrs, dark-light);
    border-left-color: map-get($clrs, dark-light);
    border-right-color: map-get($clrs, dark-light);
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to bottom, map-get($clrs, dark-grey), map-get($clrs, dark-dark));
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a7a7', endColorstr='#7b7979', GradientType=0);
    font-family: $font-base-family;
  }
  &__inner {
    min-height: 703px;
    padding: 40px 24px;
  }
  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  &__list-item {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    margin: 0 16px;
    margin-bottom: 32px;
    list-style-type: none;
    border: 1px solid map-get($clrs, gray-work);
    border-radius: 6px;
    background: map-get($clrs, white);
    overflow: hidden;
    cursor: default;
    &--last {
      border-bottom-color: #d3d3d3;
    }
    &:hover {
      .works__anim-top {
        left: 0;
        opacity: 1;
      }
      .works__anim-bottom {
        right: 0;
        opacity: 1;
      }
      .works__desc {
	    transform: translateY(0);
}
    }
  }
  &__anim-top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, .4);
    transition: left .2s ease-out, opacity .5s ;
    opacity: 0;
  }
  &__anim-bottom {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, .4);
    transition: right .2s ease-out, opacity .5s ;
    opacity: 0;
  }
  &__desc {
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -41px;
    padding: 0 3px;
    font-size: 12px;
    text-decoration: none;
    color: #fff; 
    border: 1px solid #fff;
    border-radius: 3px;
    text-transform: uppercase;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc', GradientType=0);
    transform: translateY(-100px);
    transition: transform .4s;
    &:hover {
      background: #fff;
      color: #444;
    }
  }
  &__img-wrapper {
    position: relative;
    height: 120px;
    border-bottom: 1px solid map-get($clrs, gray-work);
    
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__item-title {
    margin: 0;
    padding: 4px 15px;
    padding-bottom: 8px;
    font-size: 14px;
    text-align: center;
    background: map-get($clrs, gray-bg-work);
  }
  &__item-text {
    margin: 0;
    padding: 4px 9px;
    font-family: $font-family-light;
    font-size: $font-size-small;
    text-align: center;
  }
  &__link {
    position: relative;
    display: block;
    padding-top: 91px;
    padding-bottom: 23px;
    font-family: $font-family-bold;
    font-size: $font-base-size;
    text-align: center;  
    color: map-get($clrs, gray-menu);
    text-decoration: none;
    background: linear-gradient(to bottom, #faf9f9, #e9e7e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf9f9', endColorstr='#e9e7e6', GradientType=0);
    box-shadow: inset 0 5px 7px #fefefd;
    &:before {
      position: absolute;
      content: "";
      top: 26px;
      left: 50%;
      margin-left: -26px;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      background-color: #f7f7f7;
      background-image: url("../img/spritesheet.png");
      background-repeat: no-repeat;
      background-position: -26px 18px;
      box-shadow: inset 1px 1px map-get($clrs, grey-skill), inset -1px -1px map-get($clrs, white-light);
    }
    &:hover {
      background: linear-gradient(to bottom, #e8e7e7, #bfbdbd);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e7e7', endColorstr='#bfbdbd', GradientType=0);
      box-shadow: none;
      text-shadow: 1px 1px #e7e6e6;
      &:before {
        background-color: #d7d7d7;
        box-shadow: inset 1px 1px #b4b4b4, inset 0 -1px map-get($clrs, white-light);
      }
    }
  }
}